{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta charset="UTF-8">
    <title>SariqdevBlog</title>
</head>
<body>
    <header>
        <h1>
            <a href="{% url 'post-list' %}">SariqdevBlog</a>
        </h1>
    </header>
    {% if user.is_authenticated %}
        <p>Welcome, {{user.username}}</p>
        <p>
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit">Logout</button>
            </form>
        </p>
    {% else %}
        <p>
            <a href="{% url 'login' %}">Login to website</a>
        </p>
    {% endif %}
    <div>
        {% block content %}
        {% endblock content %}
    </div>
    <footer>
        <h2>
            <a href="{% url 'post-create' %}">Add new post</a>
        </h2>
    </footer>
</body>
</html>